body {
    background-color: beige;
}
p {
    background-color: white;
    display: inline-flex;
    height: 75px;
    width: 200px;
    font-size: 50px;
    justify-content: center;
    margin: 0%;
}